@{
    ViewData["Title"] = "Candi Syrup";
}
<div class="well cswellprimary">
    <h4>
        "What a wonderful flavor! The aroma permeated my brewery after I added it. The wort at the end of the boil carried that flavor through. I'm really looking forward to this batch and to trying your other products. You have a killer product that brewers shouldn't miss out on."
        -- Denny Conn
    </h4>
</div>
    <div class="well cswellbody roundedleftcornerleaf">
        <div class="padhomecontent"><b>Our Products:</b></div>
        <div class="padhomecontent">Welcome to Candi Syrup, Inc. Our products are among the most sought after brewing syrups and sugars in the United States, Canada, and Western Europe. Our customers are quite literally across the globe from Belgium, Holland, Norway, Finland, Sweden, the Russian Federation, Britain, Ireland, Canada, the US, and Australia. All of our brewing syrups and cassonade are crafted to a premium standard of flavor, color, and fermentability. In the spirit of old-world excellence we have crafted these time-honored brewing adjuncts using a combination of slow traditional methods resulting in the finest premium candi syrups and soft sugars in the world. Awards from around the country have demonstrated the superiority of our products time and time again.</div>
        <div class="padhomecontent"><b>D-240™</b> - Available now in bulk 50lb containers. The brewing industry's darkest candi syrup with strong notes of dark raisin, black currant, and deeply roasted caramel. An exceedingly superior syrup for superior all dark and dark-brut Belgian Ale's.</div>
        <div class="padhomecontent"><b>D-180™</b> - Our darkest and richest award winning candi syrup with an SRM of 180. It has no competitors for flavor, color or smooth fermentability. Subtle notes of anise, dark chocolate (some say fresh ground coffee), dark stone fruit, caramel, with a hint of dark-toasted bread. An exceedingly superior syrup for superior clones of Westvleteren 12, Rochefort 10, and all dark high gravity Belgian Ale's.</div>
        <div class="padhomecontent"><b>D-90™</b> - Our most versatile award winning dark candi syrup with a mild palate of dark chocolate, dark stone fruit, slight hint of coffee, toffee, and medium-toasted bread notes. Excellent for all Belgian Ale's.</div>
        <div class="padhomecontent"><b>D-45™</b> - Our dark-amber translucent Candi Syrup. Hints of caramel, vanilla, and lightly toasted bread. Exceedingly good in all Ale recipes that call for a caramel aromatic. Not limited to Belgian Ale's.</div>
        <div class="padhomecontent"><b>Simplicity Candi Syrup™</b> - Our blonde Candi Syrup is unlike anything available on the market. Simplicity is a light blonde, carefully developed syrup excellent for Saison and Golden Ales or as an addition to any higher gravity ale. It is has a balance of highly fermentable sugars and creates a refreshing subtle flavor that is always on the periphery of your palate somewhere between citrus and honey but much lighter. Simplicity Candi Syrup™ is much to be preferred over using other adjuncts due to it's balance of readily fermentable sugars and subtle flavor contribution.</div>
        <div class="padhomecontent"><b>Golden Candi Syrup™</b> - Our decadent Golden Candi Syrup contributes rich caramel flavors followed by a subtle dried raisin back-palate. The color is a rich translucent 24 karat gold. Golden is ideal for award winning Belgian Golden Ale's, Tripels, Bier de Garde, Saison, Belgian Blonde, and all lighter Belgian Ale's. Candi Syrup, Inc. is the only purveyor of Golden  Candi Syrup in the United States and Canada.</div>
    </div>

    <hr style="border-color:orange"/>
    <footer>
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-info">
                    <div class="panel-heading">Mailing Address:</div>
                    <div class="panel-body">
                        CSI Confections, LLC<br />
                        4182 Clemmons Road #234<br />
                        Clemmons, NC 27012<br />
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">About</div>
                    <div class="panel-body">
                        CSI Confections, LLC<br />
                        4182 Clemmons Road #234<br />
                        Clemmons, NC 27012<br />
                    </div>
                </div>
            </div>
            <div class="col-md-offset-4">&nbsp;</div>
        </div>
    </footer>
