@model IEnumerable<CS.Models.ProductViewModels.Product>

@{
    ViewData["Title"] = "Products List";
    var itemCount = 0;
    var IsAdmin = Context.User.IsInRole("Admin");
    const int NumItemsPerRow = 3;
    
    }

@if (IsAdmin)
{
    <p>
        <a asp-action="Create" class="text-capitalize text-primary" style="font-size: large;font-weight: bold"><i class="fa fa-plus-square-o"></i>&nbsp;Add New </a>
    </p>
    <hr />
}

@{
    for (int i = 0; i < Model.Count(); i++)
    {
        var p = Model.ElementAt(i);
        <div class="row">
            <div class="col-md-4">
                @Html.Partial("ProductSummary", p)
            </div>
            <div class="col-md-4">
                @if (i + 1 < Model.Count())
                {
                    p = Model.ElementAt(i + 1);
                    @Html.Partial("ProductSummary", p)
                }
                else
                {
                    @:&nbsp;
                }
            </div>
           @{ i++;}
            <div class="col-md-4">
                @if (i + 1 < Model.Count())
                {
                    p = Model.ElementAt(i + 1);
                    @Html.Partial("ProductSummary", p)
                }
                else
                {
                    @:&nbsp;
                }
                
            </div>
            @{ i++; }   
        </div>
       
    }
}

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
