<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0"/>-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - CS</title>

    <environment names="Development">
       @* <!-- Material Design --------------------------------------------->
        <meta charset="utf-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <!-- Material Design fonts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

        <!-- Bootstrap Material Design -->
        <link rel="stylesheet" href="https://cdn.rawgit.com/FezVrasta/bootstrap-material-design/dist/dist/bootstrap-material-design.min.css">
        *@
        <!-----------------End Material Design ------------------------>
        

        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
        <!--<link rel="stylesheet" href="~/css/flatly/bootstrap.min.css"/>-->

        <link href="//fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet"/>
        <!--<link href="https://fonts.googleapis.com/css?family=Arima+Madurai" rel="stylesheet">-->
        <link href="~/css/font-awesome.min.css" rel="stylesheet"/>
        <link rel="stylesheet" href="~/css/site.css"/>
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />        
        <link href="~/css/font-awesome.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>


    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/masonry.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">



        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">



        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    <div class="container body-content">
        <div class="jumbotron siteJumbotron">
            <h1>CANDI SYRUP</h1>
        </div>
        <nav class="navbar navbar-inverse csnavbarinversebg" >
            <div class="col-md-12">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <i class="fa fa-bars csiconcolor"></i>
                    </button>
                    <a class="navbar-brand csinavlogo"  href="/">
                        <img src="~/images/Fleur.jpg" alt="Logo" style="height: 40px; width: 40px" />
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-left">
                        <li><a asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-home"></i> Home</a></li>
                        <li><a asp-area="" asp-controller="Products" asp-action="Index"><i class="fa fa-gift"></i> Products</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="About"><i class="fa fa-hand-o-right"></i> About Us</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Contact"><i class="fa fa-gift fa-address-book"></i> Contact Us</a></li>
                    </ul>
                    @await Html.PartialAsync("NavbarShoppingCart")
                    @await Html.PartialAsync("_LoginPartial")
                    
                </div>
            </div>
        </nav>
    </div>
<div class="container body-content">
    @RenderBody()
    <hr style="border-color: orange"/>
    <footer>
        <p>
            &copy; 2017 - Candi Syrup
        </p>
    </footer>
</div>


@RenderSection("scripts", required: false)

</body>
</html>
