@using Microsoft.AspNetCore.Identity
@using CS.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
      
        <ul class="nav navbar-nav navbar-right">
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link cslogofflink">Log off <i class="fa fa-sign-out"></i> </button>
            </li>
        </ul>
    </form>
    <form asp-area="" asp-controller="Customers" asp-action="Edit" method="get" id="editCustomerForm" >
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-controller="Customers" asp-action="Edit" asp-route-id="@UserManager.GetUserId(User)"><i class="fa fa-user"></i>  @UserManager.GetUserName(User)!</a>
                
            </li>
        </ul>
    </form>

}
else
{
    <ul class="nav navbar-nav navbar-right csinavfontsize">
        <li><a asp-area="" asp-controller="Account" asp-action="Register"><i class="fa fa-address-card"></i> Register</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Login" class="cslogonlink"><i class="fa fa-sign-in"></i> Log in</a></li>
    </ul>
}

